@{
    ViewBag.Title = "Cuenta registrada";
}
<h1>@ViewBag.Title.</h1>
<h2>El sistema ha enviado un correo electrónico a la cuenta ingresada, por favor revise su correo electrónico y confirme el mismo</h2>
