@{
    ViewBag.Title = "Cambio de contraseña no autorizado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Acceso denegado</h1>
<h2>Usted no está autorizado para cambiar su contraseña. Consulte con su Administrador para más información</h2>

