@{
    ViewBag.Title = "Contraseña cambiada con éxito";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Se ha cambiado su password, por favor @Html.ActionLink("Click aquí para Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
